.container, .grid {
    -fx-background-color: -md-sys-color-surface;
}

.scroll, .flow-container, .grid-container {
    -fx-background-color: -md-sys-color-surface;
    -fx-border-color: -md-sys-color-surface;
}

.top-bar {
    -fx-background-color: -md-sys-color-primary-container;
}
/* INPUT FIELDS */

.label {
    -fx-background-color: -md-sys-color-surface;
}

.input-text {
    -fx-background-color: transparent, transparent;
    -fx-border-color: -md-sys-color-outline;
    -fx-view-order: 1;
    -fx-border-radius: 4;
}

.input-text--filled {
    -fx-background-color: -md-sys-color-surface-variant;
    -fx-border-color: transparent transparent -md-sys-color-on-surface;
    -fx-background-radius: 0;
    -fx-border-radius: 4 4 0 0;
}
.input-text--filled .content {
    -fx-background-color: -md-sys-color-surface-variant; 
}

.context-menu { 
    -fx-background-color: -md-sys-color-surface-variant;
}

.choice-box > .label,
.menu-item > .label {
    -fx-background-color: transparent;
}

.menu-item:focused {
    -fx-background-color: derive(-md-sys-color-surface-variant, -0.08);
}

.menu-item:focused > .label {
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

.search-box {
    -fx-background-color: white, white;
    -fx-border-color: -md-sys-color-outline;
    -fx-view-order: 1;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}


/* BUTTONS */

.btn {
    -fx-background-color: -md-sys-color-primary;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 14;
}

.btn--outlined {
    -fx-background-color: -md-sys-color-surface;
    -fx-text-fill: -md-sys-color-tertiary;
    -fx-border-color: -md-sys-color-outline;
}

.btn_nav {
    -fx-background-color: transparent;
}

.btn_nav--active {
    -fx-background-color: -md-sys-color-secondary-container;
    -fx-background-radius: 100;
}

.icon_btn {
    -fx-background-color: -md-sys-color-secondary-container;
    -fx-background-radius: 100;
}

.icon_btn--filled {
    -fx-background-color: -md-sys-color-primary;
    -fx-background-radius: 100;
}

.icon_btn--alert {
    -fx-background-color: -md-sys-color-error;
    -fx-background-radius: 100;
    -fx-text-fill: white;
}

.icon_btn--positive {
    -fx-background-color: -md-ref-palette-secondary70;
    -fx-background-radius: 100;
    -fx-text-fill: white;
}

.icon_btn--standard {
    -fx-background-color: transparent;
    -fx-background-radius: 100;
}

/* CARDS */

.card {
    -fx-background-color: -md-sys-color-surface-variant;
    -fx-background-radius: 12;
}

.card .parametri {
    -fx-fill: -md-sys-color-on-surface-variant;
}

/* TABELLE */

.table-view {
    -fx-background-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header,
.table-view .column-header .label,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.table-cell {
    -fx-font-family: Roboto;
    -fx-font-weight: normal;
    -fx-font-size: 14;
}

.table-row-cell:focused .table-cell {
    -fx-text-fill: -md-sys-color-on-surface;
    -fx-background-color: derive(-md-sys-color-surface-variant, -0.08);
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: -md-sys-color-outline transparent transparent;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}