.container {
    -fx-background-color: -md-sys-color-surface;
}

/* input text */
.label {
    -fx-background-color: -md-sys-color-surface;
}

.input-text {
    -fx-background-color: transparent, transparent;
    -fx-border-color: -md-sys-color-outline;
    -fx-view-order: 1;
    -fx-border-radius: 4;
}
.input-text:focused {
    -fx-padding: 0 0 0 12;
}
.search-box {
    -fx-background-color: white, white;
    -fx-border-color: -md-sys-color-outline;
    -fx-view-order: 1;
    -fx-background-radius: 100;
}

.btn {
    -fx-background-color: -md-sys-color-primary;
    -fx-background-radius: 100;
}

.top-bar {
    -fx-background-color: -md-sys-color-primary-container;
}

.card {
    -fx-background-color: -md-sys-color-surface-variant;
}

